 <section class="side-menu">
            <div class="side-menu__user-profile">
                <a href="https://github.com/leocosta1" target="_blank" class="side-menu__user-avatar">
                    <img src="../../../assets/img/default-user.png" alt="User Picture">
                </a>
                <div class="side-menu__user-info">
                    <a href="https://github.com/leocosta1" target="_blank">leocosta1</a>
                    <span>Leonardo Costa</span>
                </div>
                <button class="side-menu__user-button">Switch</button>
            </div>

            <div class="side-menu__suggestions-section">
                <div class="side-menu__suggestions-header">
                    <h2>Suggestions for You</h2>
                    <button>See All</button>
                </div>
                <div class="side-menu__suggestions-content">
                    <div class="side-menu__suggestion">
                        <a href="#" class="side-menu__suggestion-avatar">
                            <img src="../../../assets/img/default-user.png" alt="User Picture">
                        </a>
                        <div class="side-menu__suggestion-info">
                            <a href="#">usernick16</a>
                            <span>Followed by user1, user2 and 9 others</span>
                        </div>
                        <button class="side-menu__suggestion-button">Follow</button>
                    </div>
                    <div class="side-menu__suggestion">
                        <a href="#" class="side-menu__suggestion-avatar">
                            <img src="../../../assets/img/default-user.png" alt="User Picture">
                        </a>
                        <div class="side-menu__suggestion-info">
                            <a href="#">usernick17</a>
                            <span>Followed by user1, user2 and 3 others</span>
                        </div>
                        <button class="side-menu__suggestion-button">Follow</button>
                    </div>
                    <div class="side-menu__suggestion">
                        <a href="#" class="side-menu__suggestion-avatar">
                            <img src="../../../assets/img/default-user.png" alt="User Picture">
                        </a>
                        <div class="side-menu__suggestion-info">
                            <a href="#">usernick18</a>
                            <span>Followed by user1 and 9 others</span>
                        </div>
                        <button class="side-menu__suggestion-button">Follow</button>
                    </div>
                    <div class="side-menu__suggestion">
                        <a href="#" class="side-menu__suggestion-avatar">
                            <img src="../../../assets/img/default-user.png" alt="User Picture">
                        </a>
                        <div class="side-menu__suggestion-info">
                            <a href="#">usernick19</a>
                            <span>Followed by user1 and 3 others</span>
                        </div>
                        <button class="side-menu__suggestion-button">Follow</button>
                    </div>
                    <div class="side-menu__suggestion">
                        <a href="#" class="side-menu__suggestion-avatar">
                            <img src="../../../assets/img/default-user.png" alt="User Picture">
                        </a>
                        <div class="side-menu__suggestion-info">
                            <a href="#">usernick20</a>
                            <span>Followed by user1 and 6 others</span>
                        </div>
                        <button class="side-menu__suggestion-button">Follow</button>
                    </div>
                </div>
            </div>

            <div class="side-menu__footer">
                <div class="side-menu__footer-links">
                    <ul class="side-menu__footer-list">
                        <li class="side-menu__footer-item">
                            <a class="side-menu__footer-link" href="#">About</a>
                        </li>
                        <li class="side-menu__footer-item">
                            <a class="side-menu__footer-link" href="#">Help</a>
                        </li>
                        <li class="side-menu__footer-item">
                            <a class="side-menu__footer-link" href="#">Press</a>
                        </li>
                        <li class="side-menu__footer-item">
                            <a class="side-menu__footer-link" href="#">API</a>
                        </li>
                        <li class="side-menu__footer-item">
                            <a class="side-menu__footer-link" href="#">Jobs</a>
                        </li>
                        <li class="side-menu__footer-item">
                            <a class="side-menu__footer-link" href="#">Privacy</a>
                        </li>
                        <li class="side-menu__footer-item">
                            <a class="side-menu__footer-link" href="#">Terms</a>
                        </li>
                        <li class="side-menu__footer-item">
                            <a class="side-menu__footer-link" href="#">Locations</a>
                        </li>
                        <li class="side-menu__footer-item">
                            <a class="side-menu__footer-link" href="#">Top Accounts</a>
                        </li>
                        <li class="side-menu__footer-item">
                            <a class="side-menu__footer-link" href="#">Hashtag</a>
                        </li>
                        <li class="side-menu__footer-item">
                            <a class="side-menu__footer-link" href="#">Language</a>
                        </li>
                    </ul>
                </div>

                <span class="side-menu__footer-copyright">&copy; 2021 instagram from facebook</span>
            </div>
        </section>
